*{
    font-family: 'Noto Sans KR', sans-serif;
    list-style: none;
    text-decoration: none;
    border-collapse: collapse;
    margin: 0px;
    padding: 0px;
    color: #333333;
}
*::-webkit-scrollbar{
    display: none;
}
.main{
    font-family: 'Jua', sans-serif;
    text-align: center;
    color : #333333;
    font-size: 45px;
    margin-top: 60px;
}
.flexbox{
    display: flex;
    max-width: 960px;
    height : auto;
    justify-content: center;
    margin : 0 auto;
    margin-top: 50px;
}
.flexboxmiddle{
    max-width: 700px;
    text-align: center;
    justify-content: center;
    border-radius: 20px;
    margin : auto;
    margin-top: 30px;
    margin-bottom: 30px;
    background-color:rgba(211, 211, 211, 0.1);
    padding-top: 25px;
    padding-bottom: 30px;
}
.flexboxmiddle>h3{
    font-family: 'Jua', sans-serif;
    font-size: 28px;
    color: #333333;
}
#content_pc{
    font-size: 22px;
    word-break: keep-all;
}
#content_mobile{
    display: none;
}
.share{
    font-family: 'Jua', sans-serif;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    color: #333333;
    font-size: 35px;
    height: 80px;
}
.shareitem{
    display: flex;
    text-align: center;
    justify-content: space-between;
    margin : 40px auto 25px auto;
    width: 454px;
}
#fb{
    max-width: 100px;
    max-height: 100px;
}
#kakao{
    max-width: 100px;
    max-height: 100px;
}
#twt{
    max-width: 100px;
    max-height: 100px;
}
#urll{
    max-width: 100px;
    max-height: 100px;
}
.resultbottom{
    justify-content: center;
    display: flex;
    margin-top: 20px;
}
.resultbottom> button{
    font-family: 'Jua', sans-serif;
    font-size: 30px;
    background-color: rgba(211, 211, 211, 0.7);
    color : #444444;
    width: 454px;
    height: 70px;
    border-radius: 10px;
    border: 0;
    outline: 0;
    cursor: pointer;
}
.footerpc{
    display: flex;
    justify-content: center;
    background-color: rgba(211, 211, 211, 0.4);
    margin-top: 50px;
    padding-top: 30px;
    padding-bottom: 30px;
}
.footermobile{
    display: none;
}


@media all and (min-width:320px) and (max-width:430px){
    *::-webkit-scrollbar{
        display: none;
    }
    .main{
        font-size: 22px;
    }
    .flexbox>img{
        width: 200px;
        height: 200px;
    }
    .flexboxmiddle{
        margin-top: 0px;
    }
    .flexboxmiddle>h3{
        font-size: 19px;
    }
    #content_pc{
        display: none;
    }
    #content_mobile{
        display: flex;
        justify-content: center;
        font-size: 14px;
        word-break: keep-all;
        text-align: center;
    }
    .share{
        font-size: 24px;
        background-color:rgba(211, 211, 211, 0.1);
    }
    .shareitem{
        background-color:rgba(211, 211, 211, 0.1);
        display: flex;
        justify-content: center;
        margin: auto auto 15px;
        padding-bottom: 20px;
        width: 320px;
    }
    #fb{
        flex: 1;
        width: 50px;
        height: 50px;
        margin-left: auto;
        margin-right: 10px;

    }
    #kakao{
        flex: 1;
        width: 50px;
        height: 50px;
        margin-left: 10px;
        margin-right: 10px;
    }
    #twt{
        flex: 1;
        width: 50px;
        height: 50px;
        margin-left: 10px;
        margin-right: 10px;
    }
    #urll{
        flex: 1;
        width: 50px;
        height: 50px;
        margin-left: 10px;
        margin-right: auto;
    }


    .resultbottom{
        margin: auto;
        text-align: center;

    }
    #restart{
        font-size: 24px;
        width: 260px;
        height: 50px;
        margin : 10px auto 10px auto;
    }
    .footerpc{
        display: none;
    }
    .footermobile{
    display: flex;
    justify-content: center;
    background-color: rgba(211, 211, 211, 0.4);
    text-align: center;
    font-size: 7px;
    margin-top: 50px;
    padding-top: 25px;
    padding-bottom: 25px;
    }
}